# Xcode
DerivedData/
build/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.moved-aside
*.ipa
*.xcuserstate

# Swift Package Manager
/.build/
/Packages/
/SwiftPM-*

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# その他
*.DS_Store
